@import "./media-queries.scss";

$darkGray: #474645;
$mediumGray: #BEBEB8;
$lightGray: #FAFAF9;
$lightGreen: #a1b800;
$darkGreen: #728200;
$red: #E43200; 
$lightRed: #F3DAD1;
$lightPurple: #8565CC;

@font-face {
	font-family: "Proxima Nova";
	src: url('../fonts/Proxima-Nova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 16px;
}

body {

	font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: $darkGray; 
	background-color: $lightGray;


	section {
		padding: 50px 0;

		@include tablet {
			padding: 50px 0;
		}
	}

	header > .container-fluid {
		margin-top: 0;
	}

	.navbar {
		place-content: flex-end;
		color: $darkGray;
	}

	.navbar-nav {
		width: 100%;
	}

	.nav-right {
		place-content: flex-end;
	}

	.jumbotron {
		background-color: white;
		text-align: center;
		margin: 0 auto;
		color: $darkGray;

		p {
			font-size: 18px;
		}
	}

	.border-radius {
		border-radius: 4px;
	}

	section.nps-tool {
		background-color: $lightGray;
	}
	.nps-tool-label {
		display: block;
		background-color: $lightPurple;
		color: white;
		border-radius: 2px;
		padding: 5px 10px;
		margin: 0 auto;
		text-align: center;
		max-width: 160px;
		position: relative;
		top: -65px;
	}

	.grid-container {
		display: grid;


		grid-template-columns: repeat(12, 1fr);
		margin: 0 auto;
		grid-template-rows: auto;
		max-width: 80%;

		@include desktop {
			max-width: 90%;
		}

		@include tablet {
			max-width: 100%;
			display: block;
		}

		.grid-item:nth-child(1) {
			max-width: 140px;
			margin: 0 20px;

			@include tablet {
				text-align: center;
				max-width: none;
				margin: 40px auto; 
			}
		}

		.grid-item {
			margin-right: 10px;

			@include tablet {
				margin-right: 0;
				margin-bottom: 40px;
			}
		}
	}

	.row {
		margin: 20px 0; 

		&.row-1 {
			.grid-container {
				grid-template-areas: "item-1 item-1 item-2 item-2 item-3 item-3 item-4 item-4 item-4 item-4 item-4 item-4";

				.grid-item.item-1 {
					grid-area: item-1;
				}
				.grid-item.item-2 {
					grid-area: item-2;

				}
				.grid-item.item-3 {
					grid-area: item-3;
				}
				.grid-item.item-4 {
					grid-area: item-4;
				}
				.grid-item.item-2, .grid-item.item-3 {
					@include tablet {
						max-width: 150px;
						margin: 0 auto 40px;
					}
				}
				.calc-container {
					padding: 0 20px 30px;
					@include tablet {
						padding: 0 5px 30px;
					}
				}
			}
		}

		&.row-2 {
			margin: 20px 0 90px;

			@include tablet {
				margin: 20px 0;
			}

			.grid-container {
				grid-template-areas: "item-1 item-1 item-2 item-2 item-3 item-3 . . item-4 item-4 . .";

				.grid-item.item-1 {
					grid-area: item-1;
				}
				.grid-item.item-2 {
					grid-area: item-2;
				}
				.grid-item.item-3 {
					grid-area: item-3;
				}

				.grid-item.item-4 {
					grid-area: item-4;	
				}

				.grid-item.item-2, .grid-item.item-3, .grid-item.item-4 {
					position: relative;

					@include tablet {
						position: static;
					}
				}
			}
		}

		&.row-3 {
			.grid-container {
				grid-template-areas: "item-1 item-1 . . item-2 item-2 item-3 item-3 item-4 item-4 . .";

				.grid-item.item-1 {
					grid-area: item-1;
				}
				.grid-item.item-2 {
					grid-area: item-2;
				}
				.grid-item.item-3 {
					grid-area: item-3;

				}
				.grid-item.item-2, .grid-item.item-3, .grid-item.item-4 {
					position: relative;

					@include tablet {
						position: static;
					}
				}
				.grid-item.item-4 {
					left: -5px;
					grid-area: item-4;
				}
			}
		}
		&.row-2, &.row-3 {
			.calc-container {
				padding: 0 20px 30px;
				max-width: 105px;
				margin: 0 auto;
			}
		}
		&.row-3 {
			.calc-container {
				padding: 0 15px 30px;
			}
		}
	}

	.small-double-connectors {
		background-size: 105px 75px;
		background-repeat: no-repeat;
		width: 105px;
		height: 75px;
		margin: 0 auto;
		position: relative;

		&.green	{
			background-image: url("../graphics/green-lines-arrow.png");
		}

		&.gray	{
			background-image: url("../graphics/gray-lines-arrow.png");
		}

		&.red	{
			background-image: url("../graphics/red-lines-arrow.png");
			background-size: 100%;
			width: 90%;
			height: 75px;
		}

		@include tablet {
			display: none;
		}
	}

	.small-single-connector {
		background-size: 185px 75px;
		background-repeat: no-repeat;
		width: 185px;
		height: 75px;
		margin: 0 auto;
		position: relative;

		&.green	{
			background-image: url("../graphics/green-line.png");
			left: 48px;
		}

		&.red	{
			background-image: url("../graphics/red-line.png");
			background-size: 187px 75px;
			width: 187px;
			height: 75px;
			right: 48px;
		}

		@include tablet {
			display: none;
		}
	}


	.calc-container {
		padding: 0 10px 20px;
		border: 1px gray solid;
		text-align: center;
		position: relative;
		background: white;

		&.green {
			border-color: $lightGreen;
			color: $darkGreen;

			.smiley {
				background-image: url("../graphics/green-smiley.png");
			}
		}

		&.gray {
			border-color: $mediumGray;
			color: $darkGray;

			.smiley {
				background-image: url("../graphics/gray-even.png");
			}
		}

		&.red {
			border-color: $red;
			color: $red;

			.smiley {
				background-image: url("../graphics/red-frown.png");
			}
		}

		.smiley {
			background-size: 48px 48px;
			height: 48px;
			width: 48px;
			margin: 0 auto;
			position: relative;
			top: -25px;

			@include tablet
				height: 40px;
				width: 40px;
				background-size: 40px 40px;
		}

		.calc-box {
			margin: 0 auto;

			input {
				border: 1px $lightGray solid;
			}
		}

		.calc-input-container {
			display: flex;

			input {
				height: 48px;
				width: 48px;
				border: 1px $mediumGray solid;
				margin: 5px 5px 0;

				@include tablet
					height: 40px;
					width: 40px;
			}
		}
	}

	.footer-signup-form {
		margin: 50px 0;
		text-align: center;
		border-bottom: 1px $mediumGray solid;
		padding: 50px 0 100px;

		.left-container, .right-container {
			display: inline-block;
			position: relative;
			left: 9px;
		}

		.signup-form {
			margin-bottom: 20px;
		}

		input, button {
			min-width: 225px;
			padding: 10px 15px;
			border-radius: 5px;
			border: 1px $mediumGray solid;
			margin: 10px;

			&.left {
				border-radius: 25px 5px 5px 25px;
			}

			&.right {
				border-radius: 5px 25px 25px 5px;
			}

			&.left-right {
				border-radius: 25px;
			}
		}

		button {
			color: white;
			background-color: $lightPurple;
		}

		.google-signup-button {
			background-color: white;
			padding: 0;

			.google-signup-button-inner {
				padding: 10px 15px;

				background-image: url('../graphics/google-circle-icon.png'); 
				color: $mediumGray;
				background-color: transparent;
				background-size: 30px 30px;
				background-repeat: no-repeat;
				background-position: left center;
				position: relative;
				left: 15px;
			}
		}

		.facebook-circle, .twitter-circle {
			background-size: cover;
			height: 25px;
			width: 25px;
			display: inline-block;
			margin: 0px 5px;
		}

		.facebook-circle {
			background-image: url('../graphics/facebook-circle.svg'); 
		}

		.twitter-circle {
			background-image: url('../graphics/twitter-circle.svg'); 
		}
	}
}

